*{
    box-sizing: border-box;
}

html{
    font-size:16px;
}

body{
    background-color: var(--page-background);
    color: white;
    font-family: Helvetica, sans-serif;
    width: 100%;
    padding:0;
    margin:0;
}

a{
    text-decoration:none;
}

.icon{
    width: auto;
    height:50px;
}

/*text*/

h1 {
    font-size: 3rem;
}

p{
    font-size: var(--text-size);
    line-height: var(--line-height);
}

.keyword{
    color:red;
}

.underlined{
    text-decoration: underline;
    text-underline-offset: 0.5em;
    text-decoration-color: red;
}

/*other classes*/

.show{
    display:block;
}

.noShow{
    display:none;
}
