p{
    line-height: var(--line-height);
    font-size: var(--text-size);
}

/*Intro div*/
#intro{
    background-color: var(--page-background);
    margin-top: var(--marginTop);
    padding: var(--padding);
    display:grid;
    grid-template-columns: auto auto;
}

#nameAndProfession{
    grid-column: 1 / span 1;
    border-bottom: 1px solid #e0f0ea;
}

.emptyDiv{
    grid-column: 2 / span 1;
}

#shortDescription{
    margin-top:100px;
    grid-column: 1 / span 2;
}

/*About me div*/
#aboutMe{
    background-color: var(--div2-color);
    padding: var(--padding);
    margin-top: var(--marginTop);
    display: grid;
    grid-template-columns: auto auto;
}


#myInterestsDiv{
    grid-column: 1 / span 2;
    padding:50px;
}



#myPhotoContainer{
    width: 100%;
    text-align:center;
}

#myPhoto{
    width: 50%;
}

/*My skills*/
#mySkills{
    background-color: var(--page-background);;
    padding: var(--padding);
    margin-top: var(--marginTop);
}

.skillDiv{
    /*width:100px;*/
    text-align:center;
    /*display: inline-block;*/
}

/*footer*/
#loadFooter{
    width:100%;
}

/*classes*/
.iconsContainer{
    display:flex;
    margin-top:50px;
    justify-content: center;
    flex-wrap: wrap;
    gap:var(--icons-gap);
}

.technologiesSet{
    margin-top: 80px;
}

.leftAligned{
    text-align:left;
    padding-left: 20px;
}