

/*Intro div*/
#intro{
    background-color: var(--page-background);
    margin-top: var(--marginTop);
    padding: var(--padding);
    display:grid;
    grid-template-columns: auto auto;
}

#nameAndProfession{
    grid-column: 1 / span 1;
    border-bottom: 1px solid #e0f0ea;
}

.emptyDiv{
    grid-column: 2 / span 1;
}

#shortDescription{
    margin-top:100px;
    grid-column: 1 / span 2;
}

/*About me div*/
#aboutMe{
    background-color: var(--div2-color);
    padding: var(--padding);
    margin-top: var(--marginTop);
    display: grid;
    grid-template-columns: auto auto;
}

#aboutMeHeader, #myInterestsHeader{
    text-align:center;
}

#myInterestsDiv{
    grid-column: 1 / span 2;
    padding:50px;
}

#InterestIconsDiv{
    display:flex;
    margin-top:50px;
    justify-content: center;
    flex-wrap: wrap;
    gap:var(--icons-gap);
}

#cvButton {
    background-color: #95adbe;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#myPhotoContainer{
    width: 100%;
    text-align:center;
}

#myPhoto{
    width: 50%;
}



/*My skills*/
#mySkills{
    background-color: /*var(--navbar-color);*/ inherit;
    padding: var(--padding);
    margin-top: var(--marginTop);
}

#mySkillsHeader{
    text-align:center;
}

.skillDiv{
    /*float:left;*/
    width:100px;
    text-align:center;
    display: inline-block;
}

.skillsSet{
    /*overflow:hidden;*/
    text-align:center;
}

/*footer*/
#loadFooter{
    width:100%;
}

/*Responsive styles*/
@media screen and (max-width: 1200px) {
    #aboutMe{
        grid-template-columns: auto;
        gap:70px;
    }

    #myInterestsDiv{
        grid-column: 1 / span 1;
        padding:50px;
    }
}