#navbar{
    width:100%;
    background-color: var(--navbar-color); /*inherit*/;
    position: fixed;
    top:0;
    left:0;
    display:flex;
    align-items: center;
    padding: 25px 0px;
}

#navbar > div{
    width:33.33%;
}

#menuDiv{
    text-align:right;
    padding-right: 15px;
}

#currentPageDiv{
    text-align:center;
}

#menuIcon{
    width:30px;
    height:auto;
}

hr {
    width:25%;
}

#navbar a{
    color: white;

}

#navbar > a {
    float: left;
    text-align: center;
    padding: 14px 16px;

}

@media (hover: hover) {
    /* when hover is supported */
    #menuIcon:hover, #closeIcon:hover{
        cursor:pointer;
    }
}

#curtainMenu{
    z-index:2;
    height:100%;
    width:50%;
    position:fixed;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.9)
}

.show{
    display:flex;
}

.noShow{
    display:none;
}

#curtainMenu > div{
    width:50%;
}

#closeIconDiv{
    text-align:right;
    padding-right:20px;
    padding-top:20px;
}


#curtainMenu ul{
     list-style-type: none;
}

#curtainMenu li{
     margin-top:20px;
}

#curtainMenu a{
    text-decoration:none;
    color: white;
    display:block;
}

#closeIcon{
    width:30px;
    height:auto;
}