@media (hover: hover) {
    /* when hover is supported */
    #menuIcon:hover, #closeIcon:hover, #interestsText, .pointerOnHover{
        cursor:pointer;
    }
}


@media screen and (max-width: 408px) {
    html{
        font-size:12px;
    }

    .icon{
        height: 20px;
    }

    .iconsContainer{
        margin-top: 18px;
    }

    #menuIcon{
        width:20px;
    }

    #closeIcon{
        width:20px;
    }

}

@media screen and (max-width: 821px) {
    #projectsDiv > div{
        width: 100%;
    }

}


@media screen and (max-width: 1200px) {
    #aboutMe{
        grid-template-columns: auto;
        gap:70px;
    }

    #myInterestsDiv{
        grid-column: 1 / span 1;
        padding:50px;
    }
}

