:root {
    --page-background: #3c2a4d;
    --navbar-color: #503a65;
    --hover-links-color: #95adbe;
    --marginTop: 100px;
    --padding: 50px;
}

body{
    background-color: var(--page-background);
    color: white;
    font-family: Helvetica, sans-serif;
    font-size:16px;
}

.keyword{
    color:red;
}

.underlined{
    text-decoration: underline;
    text-underline-offset: 2mm;
    text-decoration-color: red;
}

/*text*/

h1 {
    font-size: 5em;
}

p {
    font-size: 1.5em;
    line-height: 2;
}

/*Navbar*/
#navbar{
    width:100%;
    background-color: var(--navbar-color); /*inherit*/;
    position: fixed;
    top:0;
    left:0;
    display:flex;
    align-items: center;
    padding: 25px 0px;
}

#navbar > div{
    width:33.33%;
}

#menuDiv{
    text-align:right;
    padding-right: 15px;
}

#currentPageDiv{
    text-align:center;
}

#menuIcon{
    width:30px;
    height:auto;
}

hr {
    width:25%;
}

#navbar a{
    color: white;

}

#navbar > a {
    float: left;
    text-align: center;
    padding: 14px 16px;

}

@media (hover: hover) {
    /* when hover is supported */
    #menuIcon:hover, #closeIcon:hover{
        cursor:pointer;
    }
}

#curtainMenu{
    z-index:2;
    height:100%;
    width:50%;
    position:fixed;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.9)
}

.show{
    display:flex;
}

.noShow{
    display:none;
}

#curtainMenu > div{
    width:50%;
}

#closeIconDiv{
    text-align:right;
    padding-right:20px;
    padding-top:20px;
}


#curtainMenu ul{
     list-style-type: none;
}

#curtainMenu li{
     margin-top:20px;
}

#curtainMenu a{
    text-decoration:none;
    color: white;
    display:block;
}

#closeIcon{
    width:30px;
    height:auto;
}

/*Intro div*/
#intro{
    background-color: /*var(--navbar-color);*/ inherit;
    margin-top: var(--marginTop);
    padding: var(--padding);
}

#nameAndProfession{
    display:inline-block;
    border-bottom: 1px solid #e0f0ea;
}

#shortDescription{
    margin-top:100px;
}

/*About me div*/
#aboutMe{
    background-color: var(--navbar-color);
    padding: var(--padding);
    margin-top: var(--marginTop);
    display: grid;
    grid-template-columns: auto auto;
}

#aboutMeHeader, #myInterestsHeader{
    text-align:center;
}

#myInterestsDiv{
    grid-column: 1 / span 2;
    padding:50px;
}

#InterestIconsDiv{
    text-align:center;
}

#InterestIconsDiv > a{
    margin: 10px;
}

#cvButton {
    background-color: #95adbe;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#myPhotoContainer{
    width: 100%;
    text-align:center;
}

#myPhoto{
    width: 50%;
}

.icon{
    width: auto;
    height:50px;
}

/*My skills*/
#mySkills{
    background-color: /*var(--navbar-color);*/ inherit;
    padding: var(--padding);
    margin-top: var(--marginTop);
}

#mySkillsHeader{
    text-align:center;
}

.skillDiv{
    /*float:left;*/
    width:100px;
    text-align:center;
    display: inline-block;
}

.skillsSet{
    /*overflow:hidden;*/
    text-align:center;
}